/* 1.0 PAGE */

.page {
    font-family: var(--base-font-family), sans-serif;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-inline-size: calc(1440px - var(--content-padding));
}

/* 2.0 Header */

/* 2.1 General Header Layout */

.header {
    position: relative;
    margin-bottom: 40px;
    padding: var(--content-padding);
    block-size: 100vh;
    min-block-size: 668px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-content: space-between;
}

/* 2.2  REC AND BULB SIGN*/

.header__light {
    position: absolute;
    text-transform: uppercase;
    color: var(--accent-color);
    inset-inline-end: calc(var(--content-padding) + 8px);
    inset-block-start: calc(var(--content-padding) + 4px);
}

.header__light::after {
    content: '';
    margin-inline-start: 10px;
    display: inline-block;
    inline-size: 12px;
    block-size: 12px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
}

/* 2.3 Header Theme Switch Menu */

.header__theme-menu {
    justify-self: end;
    align-self: center;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    padding: 0 13px;
    block-size: 26px;
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    text-align: center;
    font-size: var(--base-text-size);
    line-height: 100%;
    color: var(--button-main-color);
    cursor: pointer;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active {
    outline: 1px solid currentColor;
    pointer-events: none;
    user-select: none;
}

/* 2.4 Big Title */

.header__title {
    justify-self: start;
    font-size: var(--header-title-font-size);
    color: var(--header-title-color);
    text-shadow: 4px 4px 0 var(--header-title-shadow-color);
    font-weight: 700;
    font-style: normal;
    line-height: 82.5%;
}

/* 2.5 Text Description in The bottom of Header */

.header__description {
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    line-height: 130%;
    font-weight: 700;
    font-size: var(--base-text-size);
}

/* 2.5.1 Background Color and Text Color */

.title-decor {
    background-color: var(--accent-color);
    color: var(--sub-header-text-color);
}

/* 2.6 Header Arrows */

.decorated-zone::before,
.decorated-zone::after {
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    content: '';
}

.decorated-zone::before {
    inset-block-start: var(--content-padding);
    inset-inline-end: var(--content-padding);
    border-block-start: 1px solid var(--header-decor-color);
    border-inline-end: 1px solid var(--header-decor-color);
}

.decorated-zone::after {
    inset-inline-start: var(--content-padding);
    inset-block-end: var(--content-padding);
    border-block-end: 1px solid var(--header-decor-color);
    border-inline-start: 1px solid var(--header-decor-color);
}

/* 3.0 Main Content */

/* 3.1 General Style for Main */

.content {
    padding: 0 var(--content-padding);
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

/* 3.2 Styles for Content Sections */

.content__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content-cards__card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.content__card_extended_gap {
    gap: 20px;
}

.content-title {
    color: var(--content-title-color);
    font-size: var(--base-text-size);
    font-weight: 700;
    line-height: 130%;
}

.content-cards__card__title {
    text-align: left;
    color: var(--card-title-color);
    font-size: var(--base-text-size);
    font-weight: 700;
    line-height: 130%;
}

.title-decor-light {
    font-weight: 400;
}

.content-cards__card__description {
    color: var(--card-description-color);
    font-size: var(--base-text-size);
    font-weight: 400;
    line-height: 130%;
}

.link-decor {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.2s ease-in-out;
}

.link-decor:hover {
    box-shadow: 0 1px currentColor;
}

/* 3.3 Gallery Section  */

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery__title {
    color: var(--gallery-title-color);
    font-size: var(--base-text-size);
    font-weight: 700;
    line-height: 130%;
}

.gallery__images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery__image {
    display: block;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
}

/* 4.0 Footer */

.footer {
    position: relative;
    margin-top: 40px;
    padding: var(--content-padding);
    block-size: 100vh;
    min-block-size: 668px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.footer__title {
    font-size: var(--footer-title-font-size);
    color: var(--footer-title-color);
    text-shadow: 2px 2px 0 var(--footer-title-shadow-color);
    font-weight: 700;
    font-style: normal;
    line-height: 82.5%;
    justify-self: center;
}

/* 0.0 Adaptive */

@media screen and (width >= 768px) {

    .header {
        margin-bottom: 60px;
    }

    .header__title {
        position: relative;
        inset-inline-end: var(--content-padding);
    }

    .header__description {
        max-inline-size: 364px;
    }

    .content {
        gap: 80px;
    }

    .content-title {
        width: 236px;
    }

    .content__section:not(.special-format) {
        grid-template-columns: min-content 1fr;
    }

    .gallery {
        gap: 20px;
    }

    .gallery__image-sun {
        grid-area: sun;
    }

    .gallery__image-icecream {
        grid-area: icecream;
    }

    .gallery__image-tape {
        grid-area: tape;
    }

    .gallery__image-books {
        grid-area: books;
    }

    .gallery__image-asia {
        grid-area: asia;
    }

    .gallery__images {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "sun sun icecream"
        "tape books icecream"
        "tape asia asia";
    }

    .footer {
        margin-top: 60px;
    }
}

@media screen and (width >= 1024px) {

    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__description {
        max-inline-size: 491px;
    }

    .content-title {
        width: 315px;
    }

    .content__section.special-format .content-cards {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }

}